{% extends "base.html" %}

{% block main %}
<div id="profile">
    <div id="box">
        <img src="">
        <h1>{{ name }}</h1>
        <p>@otatopot</p>
        <p>Location</p>
        <p>{{date_joined}}</p>
        
    </div>
    <div id="bio">
        <p>Hello it's me! {{ name }}!! Biography stuff</p>
    </div>
    <div id="stats">
        <div id="posts">
            <h4>2</h4>
            <p>Posts</p>
        </div>
        <div id="following">
            <h4>23</h4>
            <p>Following</p>
        </div>
        <div id="followers">
            <h4>32</h4>
            <p>Followers</p>
        </div>
    </div>

    <button id="follow">Follow</button>
</div>
{% endblock %}